{% extends "layout.html.twig" %}
{% block navegacion %}
        <ul class="breadcrumb">
            <li><i class="icon-home"></i><a href=""> Inicio</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                <li class="active">CONTABLE</li> 
            <li class="moveDown pull-right">
                
                <span class="time"></span>
                <span class="date"></span>
            </li>    
        </ul>
{% endblock navegacion %}



{% block contenido %}
    
    <div id="content">

<div class="container-fluid"> 
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> 
            <h5>Ingreso de Rut</h5>
          </div>
          <div class="widget-content nopadding">
            <form action={{ path("reprempresa_new") }} method="post" class="form-horizontal">
              <div class="control-group"    >
                <label class="control-label">{{form_label(form.rut)}}</label>
                <div class="controls">
                  {{form_widget(form.rut)}} 
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{form_label(form.nombre)}}</label>
                <div class="controls">
                 {{form_widget(form.nombre)}}
                </div>
              </div>
             
              <div class="control-group">
                <label class="control-label">{{form_label(form.direccion)}}</label>
                <div class="controls">
                  {{form_widget(form.direccion)}}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{form_label(form.cell)}}</label>
                <div class="controls">
                 {{form_widget(form.cell)}}
                  <span class="help-block">Description field</span> </div>
              </div>

              
            
              <div class="form-actions">
                
                <a  href=""  <button class="btn btn-warning" type="button"> Regresar al Listado</button></a>
                  
                <button type="submit" class="btn btn-success">Insertar</button>
              </div>
            {{ form_widget(form) }}
            </form>
          </div>
        </div>
     
       
         
{% endblock contenido %}

