{% extends "layout.html.twig" %}
{% block navegacion %}
        <ul class="breadcrumb">
            <li><i class="icon-home"></i><a href=""> Inicio</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                <li class="active">CONTABLE</li> 
            <li class="moveDown pull-right">
                
                <span class="time"></span>
                <span class="date"></span>
            </li>    
        </ul>
{% endblock navegacion %}



{% block contenido %}
    
    <div id="content">

<div class="container-fluid"> 
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> 
            <h5>Operaciones de Crédito</h5>
          </div>
          <div class="widget-content nopadding">
            <form action={{ path("opecredito_new") }} method="post" class="form-horizontal">
              <div class="control-group"    >
                <label class="control-label">{{form_label(form.codoperacion)}}</label>
                <div class="controls">
                  {{form_widget(form.codoperacion)}} 
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{form_label(form.descripcion)}}</label>
                <div class="controls">
                 {{form_widget(form.descripcion)}}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{form_label(form.Banco)}}</label>
                <div class="controls">
                  {{form_widget(form.Banco)}}
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">{{form_label(form.fecha)}}</label>
                <div class="controls">
                  {{form_widget(form.fecha)}}
                </div>
              </div>
             
              <div class="control-group">
                <label class="control-label">{{form_label(form.monto)}}</label>
                <div class="controls">
                 {{form_widget(form.monto)}}
                  <span class="help-block">Description field</span> </div>
              </div>

              <div class="control-group">
                <label class="control-label">{{form_label(form.numcuotas)}}</label>
                <div class="controls">
                 {{form_widget(form.numcuotas)}}
                  <span class="help-block">Description field</span> </div>
              </div>

              <div class="control-group">
                <label class="control-label">{{form_label(form.okvigente)}}</label>
                <div class="controls">
                 {{form_widget(form.okvigente)}}
                  <span class="help-block">Description field</span> </div>
              </div>

                   
            
              <div class="form-actions">
                <a  href="{{path('opecredito_index') }}"  <button class="btn btn-warning" type="button"> Regresar al Listado</button></a>
                  
                <button type="submit" class="btn btn-success">Insertar</button>
              </div>
            {{ form_widget(form) }}
            </form>
          </div>
        </div>
     
       
         
{% endblock contenido %}