{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipovou</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipovou.id }}</td>
            </tr>
            <tr>
                <th>Cod</th>
                <td>{{ tipovou.cod }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipovou_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipovou_edit', { 'id': tipovou.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
